@font-face {
    font-family: 'OpenSans Condensed Bold';
    src: url('OpenSansCondensed-Bold.ttf') format('truetype'),
    url('OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
